// src/app/login/login.component.scss

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa; // Gris clair
}

.card {
  background-color: #ffffff; // Blanc
  border: 1px solid #ddd; // Gris clair
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #6f42c1; // Violet
  border-color: #6f42c1; // Violet

  &:hover {
    background-color: #5a2d91; // Violet plus foncé
    border-color: #5a2d91; // Violet plus foncé
  }
}

.alert {
  &.alert-danger {
    background-color: #f8d7da; // Rouge clair
    border-color: #f5c6cb; // Rouge moyen
    color: #721c24; // Rouge foncé
  }
}
