<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
      <h2 class="text-center mb-4">Inscription</h2>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmer le mot de passe:</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <div class=" ">
          <button type="submit" class="btn btn-primary btn-block mt-3">S'inscrire</button>
          <div class="text-center mt-3">
            <a routerLink="/login" class="btn btn-violet">Se connecter</a>
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
      </form>
    </div>
  </div>
  